<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper relative block">
  <header class="header flex items-center justify-between lg:justify-start bg-white">
    <a href="#" class="menu--mobile__btn lg:hidden" title="Toggle menu">
      <span>
        {%- render 'icon-hamburger' -%}
      </span>
    </a>

    <div class="header__logo flex-auto">
      <a href="{{ routes.root_url }}" class="header__heading-link">
        {%- if section.settings.logo != blank -%}
          <img srcset="{{ section.settings.logo | image_url }} 1x, {{ section.settings.logo | image_url }} 2x"
            src="{{ section.settings.logo | image_url }}"
            loading="lazy"
            class="header__heading-logo w-full"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            style="max-width: {{ section.settings.logo_width }}px"
          >
        {%- else -%}
          <span class="header__heading-title h3">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </div>

    {%- if section.settings.menu != blank -%}
      <nav class="header__navigation hidden lg:block">
        <ul class="header__menu flex" role="list">
          {%- for link in section.settings.menu.links -%}
            <li class="header__menu-item font-bold text-dark-grey uppercase px-6 group">
              <a href="{{ link.url }}" class="relative">
                <span class="absolute bottom-0 left-1/2 -translate-x-1/2 w-0 h-px bg-current group-hover:w-full transition-all"></span>
                <span>{{ link.title | escape }}</span>
              </a>
            </li>
          {%- endfor -%}
          
          {%- if section.settings.show_sale_btn and section.settings.sale_btn_label != blank -%}
            <li class="header__menu-item font-bold text-ferrari-red uppercase px-6 group">
              <div class="relative">
                {% if section.settings.sale_btn_link != blank %}
                  <a href="{{ section.settings.sale_btn_link }}">
                    <span class="absolute bottom-0 left-1/2 -translate-x-1/2 w-0 h-px bg-current group-hover:w-full transition-all"></span>
                    <span>{{ section.settings.sale_btn_label | escape }}</span>
                  </a>
                {% else %}
                  <span>{{ section.settings.sale_btn_label | escape }}</span>
                {% endif %}
              </div>
            </li>
          {%- endif -%}
        </ul>
      </nav>
    {%- endif -%}

    <div class="header__user-menu flex items-center">
      <form action="{{ routes.search_url }}" class="relative hidden lg:block">
        <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}" class="form-control" />
        <input type="hidden" name="type" value="product,page" />
        <input type="hidden" name="options[unavailable_products]" value="hide" />
        <input type="hidden" name="options[prefix]" value="last" />
        <button type="submit" class="absolute top-1/2 -translate-y-1/2 right-4">
          {%- render 'icon-search' -%}
        </button>
      </form>

      {%- if shop.customer_accounts_enabled -%}
        <div class="header__user-login hidden lg:block text-dark-grey text-center px-8 border-r-1 border-border">
          <p class="text-sm">{{ 'sections.header.account' | t }}</p>
  
          {%- if customer -%}
            <a href="{{ routes.account_url }}" class="underline">
              <p class="text-xs">{{ customer.first_name }}</p>
            </a>
          {%- else -%}
            <a href="{{ routes.account_login_url }}" class="underline">
              <p class="text-xs">{{ 'sections.header.login' | t }}</p>
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__cart-icon relative flex ml-6" id="cart-icon-bubble">
        {%- render 'icon-cart' -%}

        <span class="visually-hidden">{{ 'sections.header.cart' | t }}</span>

        {%- if cart != empty -%}
          <div class="header__cart-bubble flex items-center justify-center w-4 h-4 rounded-full bg-sapphire absolute">
            {%- if cart.item_count < 100 -%}
              <span class="text-white font-black text-xxs" aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label",
      "info": "t:sections.header.settings.logo_width.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_sale_btn",
      "default": false,
      "label": "t:sections.header.settings.show_sale_btn.label"
    },
    {
      "type": "text",
      "id": "sale_btn_label",
      "default": "Sale",
      "label": "t:sections.header.settings.sale_btn_label.label"
    },
    {
      "type": "url",
      "id": "sale_btn_link",
      "label": "t:sections.header.settings.sale_btn_link.label"
    }
  ]
}
{% endschema %}
